Package: enigma2-plugin-extensions-bouquetmakerxtream
Version: 0.25-20230923
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: Bouquet Maker Xtream - IPTV bouquet maker
