Package: enigma2-plugin-extensions-bouquetmakerxtream
Version: 1.16-20240401
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: Bouquet Maker Xtream - IPTV bouquet maker
