Package: enigma2-plugin-extensions-bouquetmakerxtream
Version: 0.20-20230913
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: Bouquet Maker Xtream - IPTV bouquet maker
